.mainBgDark {
  background-color: #12002b;
  flex: 1;
}

.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.signInIcon {
  width: 16px;
}

@media all and (max-width: 319px) {
  .signInContent {
    width: 250px;
  }
}

@media all and (max-width: 768px) {
  .mainBgDark {
    padding-bottom: 9rem;
  }
}
